/*
 * Start Poll vue
*/
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: 700;
}
.headerPoll {
  text-align: center;
  padding: 45px 0 40px 0;
}
@media screen and (max-width: 600px) {
  .headerPoll {
    padding: 35px 10px 20px 10px;
  }
}
.headerPoll .iconPoll {
  margin-bottom: 10px;
}
.headerPoll .titlePoll {
  color: #2ad4c6;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .headerPoll .titlePoll {
    font-size: 22px;
  }
}
.bodyPoll {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  padding-bottom: 40px;
  font-weight: 600;
}
.bodyPoll .contentPoll {
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .bodyPoll .contentPoll {
    width: 90%;
  }
}
.bodyPoll .contentPoll .questionPoll,
.bodyPoll .contentPoll .textArea {
  color: #717e91;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
  padding: 25px 0;
}
.bodyPoll .contentPoll .questionPoll .item,
.bodyPoll .contentPoll .textArea .item {
  font-weight: 700;
}
.bodyPoll .contentPoll .textArea {
  border-bottom: 0;
  position: relative;
}
.bodyPoll .contentPoll .textArea .input {
  margin-top: 10px;
  min-height: 160px;
  resize: none;
  padding: 8px 34px 8px 18px;
}
.bodyPoll .contentPoll .btn-historial {
  border-radius: 0;
  height: 43px;
  background-color: #8e96cc;
  min-width: 164px;
  text-align: center;
  cursor: pointer;
}
/*
 * Star
*/
ul.stars {
  list-style: none;
  font-size: 25px;
  height: 25px;
  margin-top: 10px;
}
ul.stars li {
  display: inline-block;
  cursor: pointer;
}
.star-1 li:nth-child(1),
.star-2 li:nth-child(1),
.star-2 li:nth-child(2),
.star-3 li:nth-child(1),
.star-3 li:nth-child(2),
.star-3 li:nth-child(3),
.star-4 li:nth-child(1),
.star-4 li:nth-child(2),
.star-4 li:nth-child(3),
.star-4 li:nth-child(4),
.star-5 li:nth-child(1),
.star-5 li:nth-child(2),
.star-5 li:nth-child(3),
.star-5 li:nth-child(4),
.star-5 li:nth-child(5) {
  color: #f9b34b;
}
/*
 * Circle
*/
.circle {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 99;
}
svg {
  height: 20px;
  transform: rotate(-90deg);
  width: 20px;
}
.progress-bar__background {
  fill: none;
  stroke: #e2eff0;
  stroke-width: 1.8;
}
.progress-bar__progress {
  fill: none;
  stroke: #e2eff0;
  stroke: #00ab25 !important;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: 1.8;
  transition: stroke-dashoffset 1s ease-in-out;
}
.progress-bar__progress_danger {
  fill: none;
  stroke: #e2eff0;
  stroke: #f92d2d !important;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: 1.8;
  transition: stroke-dashoffset 1s ease-in-out;
}
.progress-bar__progress_warning {
  fill: none;
  stroke: #e2eff0;
  stroke: #e48800 !important;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: 1.8;
  transition: stroke-dashoffset 1s ease-in-out;
}
/*
 * End Poll
 */
