* {
  padding: 0;
  margin: 0;
}
.text-bold {
  font-weight: 700;
}
.header {
  text-align: center;
  padding: 45px 0 20px 0;
}
.header .title {
  color: #2ad4c6;
  font-size: 24px;
  text-transform: uppercase;
}
.body {
  width: 100%;
  height: auto;
  background-color: #fafafa;
}
.body .content {
  width: 50%;
  margin: 0 auto;
}
.body .content .cuestionOne,
.body .content .cuestionTwo,
.body .content .textArea {
  color: #717e91;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
  padding: 20px 0;
}
.body .content .cuestionOne .item,
.body .content .cuestionTwo .item,
.body .content .textArea .item {
  font-weight: 700;
}
.body .content .textArea {
  border-bottom: 0;
}
.body .content .textArea .input {
  margin-top: 10px;
  min-height: 160px;
  width: 100%;
}
/*
 * Star
*/
ul.stars {
  list-style: none;
  font-size: 20px;
  height: 20px;
  margin-top: 10px;
}
ul.stars li {
  display: inline-block;
  cursor: pointer;
}
.star-1 li:nth-child(1),
.star-2 li:nth-child(1),
.star-2 li:nth-child(2),
.star-3 li:nth-child(1),
.star-3 li:nth-child(2),
.star-3 li:nth-child(3),
.star-4 li:nth-child(1),
.star-4 li:nth-child(2),
.star-4 li:nth-child(3),
.star-4 li:nth-child(4),
.star-5 li:nth-child(1),
.star-5 li:nth-child(2),
.star-5 li:nth-child(3),
.star-5 li:nth-child(4),
.star-5 li:nth-child(5) {
  color: #f9b34b;
}
